# Importing some packages

In [47]:
import pandas as pd

from pathlib import Path
import os
from bisect import bisect

import warnings
warnings.filterwarnings('ignore')

# Loading data

In [48]:
data_path = Path(r"C:/\Users/\vchar/\OneDrive/\Desktop/\ML Projects/\portfolio/\VehicleLoanDefault/\data")

train_df = pd.read_csv(os.path.join(data_path, 'train.csv'))
test_df = pd.read_csv(os.path.join(data_path, 'test.csv'))
info_df = pd.read_csv(os.path.join(data_path, 'data_dictionary.csv'))

# EDA

In [49]:
train_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [50]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UniqueID                             233154 non-null  int64
 1   disbursed_amount                     233154 non-null  int64
 2   asset_cost                           233154 non-null  int64
 3   ltv                                  233154 non-null  float64
 4   branch_id                            233154 non-null  int64
 5   supplier_id                          233154 non-null  int64
 6   manufacturer_id                      233154 non-null  int64
 7   Current_pincode_ID                   233154 non-null  int64
 8   Date.of.Birth                        233154 non-null  object
 9   Employment.Type                      225493 non-null  object
 10  DisbursalDate                        233154 non-null  object
 11  State_ID                             233154 non-null  int64
 12  Employee_code_ID                     233154 non-null  int64
 13  MobileNo_Avl_Flag                    233154 non-null  int64
 14  Aadhar_flag                          233154 non-null  int64
 15  PAN_flag                             233154 non-null  int64
 16  VoterID_flag                         233154 non-null  int64
 17  Driving_flag                         233154 non-null  int64
 18  Passport_flag                        233154 non-null  int64
 19  PERFORM_CNS.SCORE                    233154 non-null  int64
 20  PERFORM_CNS.SCORE.DESCRIPTION        233154 non-null  object
 21  PRI.NO.OF.ACCTS                      233154 non-null  int64
 22  PRI.ACTIVE.ACCTS                     233154 non-null  int64
 23  PRI.OVERDUE.ACCTS                    233154 non-null  int64
 24  PRI.CURRENT.BALANCE                  233154 non-null  int64
 25  PRI.SANCTIONED.AMOUNT                233154 non-null  int64
 26  PRI.DISBURSED.AMOUNT                 233154 non-null  int64
 27  SEC.NO.OF.ACCTS                      233154 non-null  int64
 28  SEC.ACTIVE.ACCTS                     233154 non-null  int64
 29  SEC.OVERDUE.ACCTS                    233154 non-null  int64
 30  SEC.CURRENT.BALANCE                  233154 non-null  int64
 31  SEC.SANCTIONED.AMOUNT                233154 non-null  int64
 32  SEC.DISBURSED.AMOUNT                 233154 non-null  int64
 33  PRIMARY.INSTAL.AMT                   233154 non-null  int64
 34  SEC.INSTAL.AMT                       233154 non-null  int64
 35  NEW.ACCTS.IN.LAST.SIX.MONTHS         233154 non-null  int64
 36  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  233154 non-null  int64
 37  AVERAGE.ACCT.AGE                     233154 non-null  object
 38  CREDIT.HISTORY.LENGTH                233154 non-null  object
 39  NO.OF_INQUIRIES                      233154 non-null  int64
 40  loan_default                         233154 non-null  int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [51]:
train_df.isnull().sum().sum()

7661

In [52]:
train_df.isnull().sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        7661
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
loan_default                              0
dtype: int64

In [53]:
test_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,01-01-74,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
1,723482,55513,63163,89.45,67,22807,45,1497,20-05-85,Self employed,...,0,0,0,5605,0,1,0,0yrs 8mon,1yrs 0mon,1
2,758529,65282,84320,79.93,78,23135,86,2071,14-10-95,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
3,763449,46905,63896,76.58,78,17014,45,2070,01-06-73,Self employed,...,0,0,0,0,0,0,0,2yrs 5mon,2yrs 5mon,0
4,708663,51428,63896,86.08,78,17014,45,2069,01-06-72,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0

In [54]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 40 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UniqueID                             112392 non-null  int64
 1   disbursed_amount                     112392 non-null  int64
 2   asset_cost                           112392 non-null  int64
 3   ltv                                  112392 non-null  float64
 4   branch_id                            112392 non-null  int64
 5   supplier_id                          112392 non-null  int64
 6   manufacturer_id                      112392 non-null  int64
 7   Current_pincode_ID                   112392 non-null  int64
 8   Date.of.Birth                        112392 non-null  object
 9   Employment.Type                      108949 non-null  object
 10  DisbursalDate                        112392 non-null  object
 11  State_ID                             112392 non-null  int64
 12  Employee_code_ID                     112392 non-null  int64
 13  MobileNo_Avl_Flag                    112392 non-null  int64
 14  Aadhar_flag                          112392 non-null  int64
 15  PAN_flag                             112392 non-null  int64
 16  VoterID_flag                         112392 non-null  int64
 17  Driving_flag                         112392 non-null  int64
 18  Passport_flag                        112392 non-null  int64
 19  PERFORM_CNS.SCORE                    112392 non-null  int64
 20  PERFORM_CNS.SCORE.DESCRIPTION        112392 non-null  object
 21  PRI.NO.OF.ACCTS                      112392 non-null  int64
 22  PRI.ACTIVE.ACCTS                     112392 non-null  int64
 23  PRI.OVERDUE.ACCTS                    112392 non-null  int64
 24  PRI.CURRENT.BALANCE                  112392 non-null  int64
 25  PRI.SANCTIONED.AMOUNT                112392 non-null  int64
 26  PRI.DISBURSED.AMOUNT                 112392 non-null  int64
 27  SEC.NO.OF.ACCTS                      112392 non-null  int64
 28  SEC.ACTIVE.ACCTS                     112392 non-null  int64
 29  SEC.OVERDUE.ACCTS                    112392 non-null  int64
 30  SEC.CURRENT.BALANCE                  112392 non-null  int64
 31  SEC.SANCTIONED.AMOUNT                112392 non-null  int64
 32  SEC.DISBURSED.AMOUNT                 112392 non-null  int64
 33  PRIMARY.INSTAL.AMT                   112392 non-null  int64
 34  SEC.INSTAL.AMT                       112392 non-null  int64
 35  NEW.ACCTS.IN.LAST.SIX.MONTHS         112392 non-null  int64
 36  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  112392 non-null  int64
 37  AVERAGE.ACCT.AGE                     112392 non-null  object
 38  CREDIT.HISTORY.LENGTH                112392 non-null  object
 39  NO.OF_INQUIRIES                      112392 non-null  int64
dtypes: float64(1), int64(33), object(6)
memory usage: 34.3+ MB

In [55]:
test_df.isnull().sum().sum()

3443

In [56]:
test_df.isnull().sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        3443
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
dtype: int64

In [57]:
info_df

,Unnamed: 0,Variable Name,Description,Unnamed: 2
0,0,UniqueID,Identifier for customers,NaN
1,1,loan_default,Payment default in the first EMI on due date,NaN
2,2,disbursed_amount,Amount of Loan disbursed,NaN
3,3,asset_cost,Cost of the Asset,NaN
4,4,ltv,Loan to Value of the asset,NaN
5,5,branch_id,Branch where the loan was disbursed,NaN
6,6,supplier_id,Vehicle Dealer where the loan was disbursed,NaN
7,7,manufacturer_id,"Vehicle manufacturer(Hero, Honda, TVS etc.)",NaN
8,8,Current_pincode,Current pincode of the customer,NaN
9,9,Date.of.Birth,Date of birth of the customer,NaN
10,10,Employment.Type,Employment Type of the customer (Salaried/Self...,NaN
11,11,DisbursalDate,Date of disbursement,NaN
12,12,State_ID,State of disbursement,NaN
13,13,Employee_code_ID,Employee of the organization who logged the di...,NaN
14,14,MobileNo_Avl_Flag,if Mobile no. was shared by the customer then ...,NaN
15,15,Aadhar_flag,if aadhar was shared by the customer then flag...,NaN
16,16,PAN_flag,if pan was shared by the customer then flagged...,NaN
17,17,VoterID_flag,if voter was shared by the customer then flag...,NaN
18,18,Driving_flag,if DL was shared by the customer then flagged ...,NaN
19,19,Passport_flag,if passport was shared by the customer then fl...,NaN
20,20,PERFORM_CNS.SCORE,Bureau Score,NaN
21,21,PERFORM_CNS.SCORE.DESCRIPTION,Bureau score description,NaN
22,22,PRI.NO.OF.ACCTS,count of total loans taken by the customer at ...,Primary accounts are those which the customer ...
23,23,PRI.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
24,24,PRI.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
25,25,PRI.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
26,26,PRI.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
27,27,PRI.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
28,28,SEC.NO.OF.ACCTS,count of total loans taken by the customer at ...,Secondary accounts are those which the custome...
29,29,SEC.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
30,30,SEC.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
31,31,SEC.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
32,32,SEC.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
33,33,SEC.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
34,34,PRIMARY.INSTAL.AMT,EMI Amount of the primary loan,NaN
35,35,SEC.INSTAL.AMT,EMI Amount of the secondary loan,NaN
36,36,NEW.ACCTS.IN.LAST.SIX.MONTHS,New loans taken by the customer in last 6 mont...,NaN
37,37,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Loans defaulted in the last 6 months,NaN
38,38,AVERAGE.ACCT.AGE,Average loan tenure,NaN
39,39,CREDIT.HISTORY.LENGTH,Time since first loan,NaN
40,40,NO.OF_INQUIRIES,Enquries done by the customer for loans,NaN

# Creating some new features

In [58]:
signs = [(1,20,"Cap"), (2,18,"Aqu"), (3,20,"Pis"), (4,20,"Ari"),
         (5,21,"Tau"), (6,21,"Gem"), (7,22,"Can"), (8,23,"Leo"),
         (9,23,"Vir"), (10,23,"Lib"), (11,22,"Sco"), (12,22,"Sag"),
         (12,31,"Cap")]

def zodiac_sign(m,d):
    return signs[bisect(signs,(m,d))][2]

train_df['DisbursalDate'] = pd.to_datetime(train_df['DisbursalDate'])#, format="%Y-%m-%d")
train_df['Date.of.Birth'] = pd.to_datetime(train_df['Date.of.Birth'])#, format="%Y-%m-%d")
train_df['age'] = round((train_df['DisbursalDate'] - train_df['Date.of.Birth']).dt.days / 365, 1)

train_df['disb_month'] = train_df['DisbursalDate'].dt.month
train_df['zodiac_sign'] = train_df['Date.of.Birth'].apply(lambda x: zodiac_sign(x.month, x.day))

In [59]:
test_df['DisbursalDate'] = pd.to_datetime(test_df['DisbursalDate'])#, format="%d-%m-%Y")
test_df['Date.of.Birth'] = pd.to_datetime(test_df['Date.of.Birth'])#, format="%d-%m-%Y")
test_df['age'] = round((test_df['DisbursalDate'] - test_df['Date.of.Birth']).dt.days / 365, 1)

test_df['disb_month'] = test_df['DisbursalDate'].dt.month
test_df['zodiac_sign'] = test_df['Date.of.Birth'].apply(lambda x: zodiac_sign(x.month, x.day))

# Getting categorical and numerical features

In [23]:
categorical_features = list(train_df.select_dtypes(include=['object']).columns)
categorical_features

['Date.of.Birth',
 'Employment.Type',
 'DisbursalDate',
 'PERFORM_CNS.SCORE.DESCRIPTION',
 'AVERAGE.ACCT.AGE',
 'CREDIT.HISTORY.LENGTH']

In [25]:
numerical_features = list(train_df.select_dtypes(exclude=['object']).columns)
numerical_features.remove('loan_default')
numerical_features

['UniqueID',
 'disbursed_amount',
 'asset_cost',
 'ltv',
 'branch_id',
 'supplier_id',
 'manufacturer_id',
 'Current_pincode_ID',
 'State_ID',
 'Employee_code_ID',
 'MobileNo_Avl_Flag',
 'Aadhar_flag',
 'PAN_flag',
 'VoterID_flag',
 'Driving_flag',
 'Passport_flag',
 'PERFORM_CNS.SCORE',
 'PRI.NO.OF.ACCTS',
 'PRI.ACTIVE.ACCTS',
 'PRI.OVERDUE.ACCTS',
 'PRI.CURRENT.BALANCE',
 'PRI.SANCTIONED.AMOUNT',
 'PRI.DISBURSED.AMOUNT',
 'SEC.NO.OF.ACCTS',
 'SEC.ACTIVE.ACCTS',
 'SEC.OVERDUE.ACCTS',
 'SEC.CURRENT.BALANCE',
 'SEC.SANCTIONED.AMOUNT',
 'SEC.DISBURSED.AMOUNT',
 'PRIMARY.INSTAL.AMT',
 'SEC.INSTAL.AMT',
 'NEW.ACCTS.IN.LAST.SIX.MONTHS',
 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
 'NO.OF_INQUIRIES']

In [35]:
train_df['DisbursalDate'] = pd.to_datetime(train_df['DisbursalDate'], format="%Y-%m-%d")
train_df['Date.of.Birth'] = pd.to_datetime(train_df['Date.of.Birth'], format="%Y-%m-%d")
train_df['age'] = round((train_df['DisbursalDate'] - train_df['Date.of.Birth']).dt.days / 365, 1)
train_df['age']

0         34.2
1         33.2
2         32.4
3         24.8
4         41.1
          ...
233149    30.8
233150    30.5
233151    42.8
233152    24.5
233153    34.7
Name: age, Length: 233154, dtype: float64

In [20]:
info_df[info_df['Variable Name']=='PERFORM_CNS.SCORE.DESCRIPTION']['Description'].values

array(['Bureau score description'], dtype=object)

In [22]:
train_df['PERFORM_CNS.SCORE.DESCRIPTION'].unique()

array(['No Bureau History Available', 'I-Medium Risk', 'L-Very High Risk',
       'A-Very Low Risk',
       'Not Scored: Not Enough Info available on the customer',
       'D-Very Low Risk', 'M-Very High Risk', 'B-Very Low Risk',
       'C-Very Low Risk', 'E-Low Risk', 'H-Medium Risk', 'F-Low Risk',
       'K-High Risk',
       'Not Scored: No Activity seen on the customer (Inactive)',
       'Not Scored: Sufficient History Not Available',
       'Not Scored: No Updates available in last 36 months', 'G-Low Risk',
       'J-High Risk', 'Not Scored: Only a Guarantor',
       'Not Scored: More than 50 active Accounts found'], dtype=object)